@font-face {/* Définition d'une nouvelle police nommée Raleway Regular */
    font-family: 'raleway';
    src: url('FONT/static/Raleway-Regular.ttf') format('ttf');
} 
/* Balise body, donc sur TOUTE la page */
body
{
    background-color: white; /* Le fond de la page sera noir */
    color: black; /* Le texte de la page sera blanc */
}     
.menu
{
    text-align: right;
}
.introduction
{
	color:black
}
h1
{
	font-size:  1.3em;
}
p
{
	font-size: 1em; 
}
a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: black;
}
a:hover /* Apparence au survol des liens */
{
   text-decoration: overline;
   color: blue;
}